{% extends '../base_timesheet.html' %}

{% block title %}Users List{% endblock title %}

{% block content %}
    {% if user %}<a href="{% url 'userManagement:user_new' %}">Add User</a>{% endif %}
    {% if object_list %}
        <table>
        {% for user in object_list %}

            <tr><td>&nbsp;&nbsp;&nbsp;</td><td><a href="{% url 'userManagement:user_update' user.id %}">{{user.firstname}}</a></td><td>&nbsp;</td> <td>   {{user.description}}</td></tr>

        {% endfor %}
        </table>
    {% else %}
        <p>No Users are available.</p>
    {% endif %}
{% endblock content %}


