{% extends '../base_timesheet.html' %}
{% block title %}Add User{% endblock title %}

{% block content %}
   <form method="post" action="" class="post-form" enctype="multipart/form-data">
        {% csrf_token %}
        <table> 
           {{ authuserform.as_p }}
           {{ doctorform.as_p }}
        </table>
        <button type="submit" value="Save">Save</button>
        <a href="{% url 'userManagement:user_list' %}" > Cancel </a>
    </form>
{% endblock content %}




<!---<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <form method="post" action="{% url 'userManagement:user_new' %}">

        {% csrf_token %}
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" value="Save">Save</button>
        <a href="{% url 'userManagement:user_list' %}" > Cancel </a>
    </form>
</body>
</html>--->
